<nz-select class="full-width" nzShowSearch nzAllowClear nzPlaceHolder="Select Account" [(ngModel)]="selectedOS">
   <nz-option nzCustomContent nzLabel="Savings" nzValue="windows"><i nz-icon nzType="wallet" nzTheme="outline"></i> Savings</nz-option>
   <nz-option nzCustomContent nzLabel="Cash" nzValue="mac"><i nz-icon nzType="money-collect" nzTheme="outline"></i> Cash</nz-option>
   <nz-option nzCustomContent nzLabel="Credit" nzValue="android"><i nz-icon nzType="credit-card" nzTheme="outline"></i> Credit</nz-option>   
</nz-select>
<nz-divider></nz-divider>