<div nz-row>
   <div nz-col nzSpan="24">
      Balance <span nz-text nzType="secondary">Oct 6 - Oct 12</span>
   </div>  
</div>        
<div nz-row>
   <div nz-col nzSpan="14">
      Ingresos
   </div>
   <div nz-col nzSpan="10" class="right-align">         
      $15000.00
   </div>
</div>
<div nz-row>
   <div nz-col nzSpan="14">
      Gastos
   </div>
   <div nz-col nzSpan="10" class="right-align">
      $300.00
   </div>
</div>
<div nz-row>
   <div nz-col nzSpan="14">
      Total
   </div>
   <div nz-col nzSpan="10" class="right-align">
      $140,700.00
   </div>
</div>
<div nz-row>
   <div nz-col nzSpan="14">
      Saldo total
   </div>
   <div nz-col nzSpan="10" class="right-align">
      $140,700.00
   </div>
</div>